
@model IEnumerable<WebUniversidade.Models.Estudante>

@{ 
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<p>
    <a asp-action="Criar">Criar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sobrenome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnrollmentDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sobrenome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                <a asp-action="Editar" asp-route-id="@item.Id" class="btn btn-outline-primary">Editar</a> |
                <a asp-action="Detalhes" asp-route-id="@item.Id" class="btn btn-outline-info">Detalhes</a> |
                <a asp-action="Deletar" asp-route-id="@item.Id" class="btn btn-outline-danger">Deletar</a>
            </td>
        </tr>
        }
    </tbody>
</table>